<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon </title>
</head>
<body>
    <h1>New Pokemon</h1>
    <form action="/pokedex" method="POST">
        Name:<input type="text" name="name" <br>
        Type:<input type="text" name="type" <br>
        HP:<input type="number" name="hp"<br/>
        ATTK:<input type="number" name="attack"<br/>
        DEF:<input type="number" name="defense"<br/>
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="cancel" value="Cancel">
    </form>
</body>
</html>